<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33.89 42.19">
    <defs>
        <clipPath id="clip-path" transform="translate(0)">
            <rect class="cls-1" style="fill: none;" width="33.89" height="42.19"/>
        </clipPath>
    </defs>
    <title>balloon</title>
    <g data-name="Livello 2">
        <g id="Livello_1-2" data-name="Livello 1">
            <g clip-path=" clip-path: url(#clip-path)">
                <path class="cls-3" style="fill: {{ color }}" d="M29.46,42.19s-.94-3.39.29-9.3c1.32-6.35,9.39-14.26-1.37-27.61C15.08-11.2-9.94,14.63,4.2,31.58c4.4,5.28,9.78,4.69,16.5,5.87s8.76,4.74,8.76,4.74" transform="translate(0)"/>
            </g>
        </g>
    </g>
</svg>
