<footer>
    <div class="bg-orange py-6">
        <div class="container">
            <div class="flex flex-wrap">
                <div class="w-full md:w-1/2">
                    <h4 class="text-white text-2xl uppercase">iscriviti alla newsletter</h4>
                </div>
                <div class="w-full md:w-1/2 pt-4 md:pt-0">
                    <div class="flex justify-between">
                        <input class="w-full py-2 border-white border-b bg-orange placeholder-white mr-2" placeholder="Insetisci la tua mail" type="text">
                        <button class="uppercase text-orange border border-white bg-white px-4 hover:bg-orange hover:text-white">invia</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container pt-10">
        <div class="flex flex-wrap">
            <div class="w-full md:w-1/4 pb-6 md:pb-0"><img width="136" src="{{ 'assets/img/logo-footer.png'| theme }}" alt="giochi di kim"></div>
            <div class="w-full md:w-1/4 pb-3">
                <ul class="text-xs font-light">
                    <li>Giochi di kim s.n.c.</li>
                    <li>Via Vincenzo Rossi n. 42/44</li>
                    <li>61122 Pesaro PU</li>
                </ul>
            </div>
            <div class="w-full md:w-1/4 pb-4">
                <ul class="text-xs font-light">
                    <li>Tel. 0721.583091 </li>
                    <li>Mob. 328.3963433 </li>
                    <li>info@giochidikim.com </li>
                </ul>
            </div>
            <div class="w-full md:w-1/4">
                <ul class="flex -mx-2 md:justify-end">
                    <li class="mx-2">
                        <a href="#" class="w-6 h-6 ">
                            <i class="fab fa-facebook"></i>
                        </a>
                    </li>
                    <li class="mx-2">
                        <a href="#" class="w-6 h-6">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="border-b mt-5"></div>
    </div>

    <div class="container">
        <div class="flex py-4">
            <div class="w-1/2">
                <p class="font-light text-xs">© 2018 Giochi di Kim. All Rights Reserved.</p>
            </div>
            <div class="w-1/2 flex justify-end">
                <p class="font-light text-xs uppercase">up studio</p>
            </div>
        </div>
    </div>
</footer>