<header class="header">
    <div class="bg-orange md:bg-white">
        <div class="container">
            <ul class="flex justify-start md:justify-end -mx-2 mb-4">
                <li class="px-1 md:px-2">
                    <a class="flex" href="tel:+390721583091">
                        <div class="flex-initial flex justify-center items-center w-6 h-6 bg-orange text-white mx-1">
                            <i class="fas fa-phone text-xs"></i>
                        </div>
                        <span class="font-bold hidden md:inline">
                        +39 0721 583091
                    </span>
                    </a>
                </li>
                <li class="px-1 md:px-2">
                    <a class="flex" href="tel:+393283963433">
                        <div class="flex-initial flex justify-center items-center w-6 h-6 bg-orange text-white mx-1">
                            <i class="fas fa-mobile-alt text-xs"></i>
                        </div>
                        <span class="font-bold hidden md:inline">
                        +39 328 3963433
                    </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="flex justify-between flex-wrap">
            <div class="flex-initial flex justify-between relative pb-3 md:pb-0">
                <a class="header__logo flex-initial" href="{{ 'home' | page }}">
                    <picture>
                        <source media="(max-width: 799px)" srcset="{{ 'assets/img/logo-footer.png'| theme }}">
                        <source media="(min-width: 800px)" srcset="{{ 'assets/img/logo.png'| theme }}">
                        <img src="{{ 'assets/img/logo.png'| theme }}" alt="Giochi di Kim">
                    </picture>

                </a>
                <div class="md:hidden w-1/4">
                    <button class="hamburger focus:outline-none hamburger--collapse float-right" type="button">
                      <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                      </span>
                    </button>
                </div>
            </div>
            {% if staticMenu.menuItems %}
                <ul class="menu">
                    {% for item in staticMenu.menuItems if not item.viewBag.isHidden %}
                        <li role="presentation" class="{{ item.isActive ? 'active' : '' }} {{ item.isChildActive ? 'child-active' : '' }} {{ item.viewBag.cssClass }} menu__item {{ item.items ? 'toggleMenu' }}">
                            {% if item.url %}
                                <a href="{{ item.url }}" {{ item.viewBag.isExternal ? 'target="_blank"' }}>
                                    {{ item.title }}
                                </a>
                            {% else %}
                                <span>{{ item.title }}</span>
                            {% endif %}

                            {% if item.items %}
                                <div class="menu__submenu">
                                    <div class="container">
                                        <div class="flex">
                                            <ul class="flex flex-wrap">
                                                {% for subItem in item.items %}
                                                    <li class="menu__subitem ">
                                                        <a href="{{ subItem.url }}">
                                                            <span class="menu__icon">
                                                                {% partial 'menu/svg' color=subItem.viewBag.color %}
                                                            </span>
                                                            <span class="menu__text">
                                                                {{ subItem.title }}
                                                            </span>
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>

    <div class="bg-orange py-1 hidden md:block">
        <div class="container">
            <div class="flex relative">
                <div class="w-full">
                    <ul class="flex -mx-4 text-white justify-end text-xs md:text-sm">
                        <li class="uppercase px-4">da 0 a 1 anni</li>
                        <li class="uppercase px-4">da 1 a 3 anni</li>
                        <li class="uppercase px-4">da 3 in poi</li>
                        <li class="uppercase px-4">da 6 in poi</li>
                        <li class="uppercase px-4">da 8 in poi</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
