<header>
<div class="container">
    <div class="flex flex-wrap">

        <div class="w-full">
            <ul class="flex justify-end pt-10 -mx-3">
                <li class="mx-3 text-orange">Giochi di Kim</li>
                <li class="mx-3 text-orange">Categorie</li>
                <li class="mx-3 text-orange">Attività didattiche</li>
                <li class="mx-3 text-orange">Marchi</li>
                <li class="mx-3 text-orange">Servizi</li>
                <li class="mx-3 text-orange">Contatti</li>
            </ul>
        </div>
    </div>
</div>

    <div class="container">
        <div class="flex">
            <div class="w-full">
                <!-- logo -->
            </div>
        </div>
    </div>
    <div class="bg-orange py-1 mt-6">
            <div class="container">
                <div class="flex">
                    <div class="w-full">
                        <ul class="flex -mx-2 text-white justify-end text-sm">
                            <li class="uppercase mx-4">da 0 a 1 anni</li>
                            <li class="uppercase mx-4">da 1 a 3 anni</li>
                            <li class="uppercase mx-4">da 3 in poi</li>
                            <li class="uppercase mx-4">da 6 in poi</li>
                            <li class="uppercase mx-4">da 8 in poi</li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
</header>