<header>
<div class="container">
    <div class="flex flex-wrap">

        <div class="w-full">
            <ul class="flex justify-end pt-10 -mx-5">
                <a href="{{ 'kim' | page }}"><li class="px-5 text-orange font-bold">Giochi di Kim</li></a>
                <a href="{{ 'categorie' | page }}"><li class="px-5 text-orange font-bold">Categorie</li></a>
                <a href="{{ 'attivita' | page }}"><li class="px-5 text-orange font-bold">Attività didattiche</li></a>
                <a href="{{ 'marchi' | page }}"><li class="px-5 text-orange font-bold">Marchi</li></a>
                <a href="{{ 'servizi' | page }}"><li class="px-5 text-orange font-bold">Servizi</li></a>
                <a href="{{ 'contatti' | page }}"><li class="px-5 text-orange font-bold">Contatti</li></a>
            </ul>
        </div>
    </div>
</div>

    <div class="container">
        <div class="flex absolute top-0 left-20">
            <div class="w-full">
                <a href="{{ 'home' | page }}"><img width="158" src="{{ 'assets/img/logo-header.png'| theme }}" alt="giochi di kim"></a>
            </div>
        </div>
    </div>
    <div class="bg-orange py-1 mt-6">
            <div class="container">
                <div class="flex relative">
                    <div class="w-full">
                        <ul class="flex -mx-4 text-white justify-end text-xs md:text-sm">
                            <li class="uppercase px-4">da 0 a 1 anni</li>
                            <li class="uppercase px-4">da 1 a 3 anni</li>
                            <li class="uppercase px-4">da 3 in poi</li>
                            <li class="uppercase px-4">da 6 in poi</li>
                            <li class="uppercase px-4">da 8 in poi</li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
</header>