<div class="container">
    <div class="flex">
        <div class="w-full">
            <ul class="flex justify-end -mx-6">
                <li class=" flex mx-6">
                        <img class="mx-auto" width="21" src="{{ 'assets/img/tel.jpg'| theme }}" alt="telefono">
                    <a href="tel:+390721583091"><p class="font-bold">+39 0721 583091</p></a>
                </li>
                    <li class="flex mx-6">
                        <img class="mx-auto" width="21" src="{{ 'assets/img/cell.jpg'| theme }}" alt="telefono">
                        <a href="tel:+393283963433"><p class="font-bold">+39 328 3963433</p></a>
                    </li>
            </ul>
        </div>
    </div>
</div>