<div class="container">
    <div class="flex">


        <div class="w-full">
            <ul class="flex justify-end -mx-6">
                <li class=" flex mx-6">
                        <img class="mx-auto" width="21" src="{{ 'assets/img/tel.jpg'| theme }}" alt="telefono">
                    <p>+39 0721 583091</p>
                </li>
                    <li class="flex mx-6">
                        <img class="mx-auto" width="21" src="{{ 'assets/img/cell.jpg'| theme }}" alt="telefono">
                        <p>+39 328 3963433</p>
                    </li>
            </ul>
        </div>
    </div>
</div>