.accordion {
    &__button {
        @apply bg-orange text-white uppercase font-bold py-3 px-6 mb-2 relative;
        &.active {
            background-color: darken(#f1880b, 5%);
            svg {
                transform: translateY(-50%) rotate(180deg);
            }
        }
        svg {
            @apply absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
        }
    }
    &__panel {
        @apply uppercase font-bold text-sm px-6 py-3 mb-20 hidden overflow-hidden;
        &.visible {
            @apply block;
        }
    }

    @screen md {
        &__button {
            @apply mb-0;
            svg {
                @apply hidden;
            }
        }
        &__panel {
            @apply block overflow-visible;
        }
    }
}
