.menu {
    @apply absolute bg-white left-0 py-4;
    top: 100%;
    z-index: 100;
    width: 100%;
    height: calc(100vh - 109px);
    transform: translate3d(100%, 0, 0);
    &.is-active {
        transform: translate3d(0, 0, 0);
    }
    &__item {
        @apply px-5 text-orange font-bold flex z-10;
        & > a {
            @apply block py-2 border-b w-full;
        }
    }
    &__caret {
        @apply absolute right-0 px-5;
        top: 50%;
        transform: translateY(-50%);
        z-index: -1;
    }

    &__submenu {
        @apply absolute bg-orange z-10 pt-4 pb-4;
        top: 0;
        left: 0;
        height: calc(100vh - 109px);
        transform: translate3d(100%, 0, 0);
        transition: transform .3s ease;
        &.is-active {
            transform: translate3d(0, 0, 0);
        }

    }

    &__subitem {
        @apply w-full px-5;
        a {
            @apply flex -mx-2 text-white border-b border-white  py-2;
            &:hover {
                svg {
                    transform: scale(1.1, 1.1);
                    transition: all .3s ease;
                }
                @apply underline;
            }
        }
    }

    &__icon {
        @apply w-12 px-2 hidden;
    }
}

@screen md {
    .menu {
        transform: none;
        @apply py-0 relative;
        height: auto;
        transition: transform .3s ease;
        &__item {
            & > a {
                @apply inline-block py-6 border-none;
            }
            &.active,
            &.child-active {
                & > a {
                    @apply underline;
                }
            }
            &.toggleMenu:hover {
                .menu__submenu {
                    @apply block;
                    transform: translate3d(0, 0, 0);
                    transition: transform .3s ease-out, opacity .3s ease-out, visibility 0s linear;
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
        @apply flex flex-initial justify-end -mx-5 static bg-transparent;
        &__submenu {
            @apply absolute bg-white w-full z-40 border-t-4 border-orange pt-16 pb-10;
            height: auto;
            transition: transform .3s ease-out, opacity .3s ease-out, visibility 0s linear .3s;
            top: calc(100% - 29px);
            left: 0;
            transform: translate3d(0, 40px, 0);
            visibility: hidden;
            opacity: 0;
        }
        &__subitem {
            @apply w-1/3 mb-4;
            a {
                @apply text-gray-800 border-none py-0;
            }
            &.active a {
                @apply underline;
            }
        }
        &__icon {
            @apply block;
        }
        &__text {
            @apply flex-auto self-center px-2 uppercase text-sm;
        }
    }
}
