<div class="category-tease w-full {{ size ? 'md:w-1/2' : 'md:w-1/3' }}">
    <a href="{{ not category.parent ?
    'categorie'|page({slug: category.slug}) :
    'singola-categorie'|page({slug: category.parent.slug, subslug: category.slug})}}">
        <div style="background-color: {{ category.color ? category.color : category.parent.color }}" class="category-tease__text-container">
            <h2 class="category-tease__text">{{ category.title }}</h2>
            <div style="background-image: url({{ category.thumbnail.getPath() }})" class="category-tease__thumbnail">
            </div>
        </div>
    </a>
</div>
